
<script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/resources.js"></script> -->
  <script src="/scripts/my-resources.js"></script>

  <%- include('partials/_header.ejs') %>
        <section class="resources-main">
          <section id="my-resources">
            <% resources.forEach(resource=> { %>
              <% const matchingCategory=categories.find(category=> category.id === resource.id); %>
                <% const matchingAvgRating=avgRatings.find(avgRating=> avgRating.id === resource.id); %>
                  <a href="/resources/<%= resource.id %>" class="resource-card-link">
                    <div class="resource-card">
                      <div class="card-content">
                        <div class="resource-card-title">
                          <%= resource.title %>
                        </div>
                        <img src="<%= resource.thumbnail_url %>" alt="thumbnail image" class="thumbnail_img" />
                      </div>
                      <div class="category">
                        <%= matchingCategory.category_topic %>
                      </div>
                      <% if (matchingAvgRating.avg_rating) { %>
                        <% if (matchingAvgRating.avg_rating==='5' ) { %>
                          <img src="/docs/5 stars.svg" />
                          <% } else if (matchingAvgRating.avg_rating==='4' ) { %>
                            <img src="/docs/4 stars.svg" />
                            <% } else if (matchingAvgRating.avg_rating==='3' ) { %>
                              <img src="/docs/3 stars.svg" />
                              <% } else if (matchingAvgRating.avg_rating==='2' ) { %>
                                <img src="/docs/2 stars.svg" />
                                <% } else if (matchingAvgRating.avg_rating==='1' ) { %>
                                  <img src="/docs/1 star.svg" />

                                  <% } } else { %>
                                    <div class="avg-rating">No Ratings Yet</div>
                                    <% } %>
                    </div>
                  </a>
                  <div class="button-edition">
                    <button class="edit-button">
                      <a target="_blank" href="/resources/<%= resource.id %>">Edit</a>
                    </button>
                  <% }); %>

          </section>
      </main>
</body>

</html>
