<!-- <head>
  <title>Resource - <%= resource.title %>
  </title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script defer src="/scripts/resource-show.js"></script>
  <script defer src="/scripts/ratings.js"></script>
</head> -->

<body>
  <%- include('partials/_header.ejs') %>
    <main class="resource-page">
      <div class="left-section">
        <img src="<%= resource[0].thumbnail %>" alt="Resource Image" />
        <h1 class="resource-title">
          <%= resource[0].title %>
        </h1>
        <p class="resource-category">
          <%= resource[0].category_name %>
        </p>
        <p class="resource-description">
          <%= resource[0].description %>
        </p>
        <div class="button-date">
          <button class="visit-button">
            <a target="_blank" href="<%= resource[0].url %>">Visit</a>
          </button>

        </div>
        <div class="rating-category">
          <% if (resource[0].avg_rating) { %>
            <% if (resource[0].avg_rating==='5' ) { %>
              <%- include("../public/docs/5 stars.svg") %>
                <% } else if (resource[0].avg_rating==='4' ) { %>
                  <%- include("../public/docs/4 stars.svg") %>
                    <% } else if (resource[0].avg_rating==='3' ) { %>
                      <%- include("../public/docs/3 stars.svg") %>
                        <% } else if (resource[0].avg_rating==='2' ) { %>
                          <%- include("../public/docs/2 stars.svg") %>
                            <% } else if (resource[0].avg_rating==='1' ) { %>
                              <%- include("../public/docs/1 star.svg") %>
                                <% } } else { %>
                                  <div class="avg-rating">No Ratings</div>
                                  <% } %>
        </div>
      </div>

      <div class="right-section">

        <form id="commentForm" action="/resources/<%= resourceId %>/comment" method="POST">
          <label for="comment"></label>
          <textarea id="comment" name="comment" placeholder="Enter your comments here..." required></textarea>
          <button type="submit">Add Comment</button>
        </form>

        <div class="rating-like-form">
          <form id="ratingForm" class="dropdown-menu" action="/resources/<%= resourceId %>/rating" method="POST">

            <select id="rating-select" name="rating" class="rating">
              <option value="" disabled selected>Choose Rating</option>
              <option value="5" class="rating-option">5 ⭐⭐⭐⭐⭐ </option>
              <option value="4" class="rating-option">4 ⭐⭐⭐⭐</option>
              <option value="3" class="rating-option">3 ⭐⭐⭐</option>
              <option value="2" class="rating-option">2 ⭐⭐</option>
              <option value="1" class="rating-option">1 ⭐</option>
            </select>

            <button
              onClick="if(document.querySelector('#rating-select').value.length != 0) return true; else return false"
              type="submit">Add Rating</button>
          </form>

          <% if (resource[0].liked ) { %>
            <form
              id="likeForm"
              action="/resources/<%= resource[0].id %>/unlike"
              method="POST"
            >
              <button
                type="submit"
                class="heart-button"
                id="heartButton"
                style="color: <%= resource[0].liked ? 'red' : 'white' %>"
              >
                <i class="fas fa-heart"></i>
              </button>
            </form>
            <% } else { %>
            <form
              id="likeForm"
              action="/resources/<%= resource[0].id %>/like"
              method="POST"
            >
              <button
                type="submit"
                class="heart-button"
                id="heartButton"
                style="color: <%= resource[0].liked ? 'red' : 'white' %>"
              >
                <i class="fas fa-heart"></i>
              </button>
            </form>
            <% } %>
        </div>



        <p id="ratings">Your rating is <span class="rating-strong">
            <%= resource[0].avg_rating %>
          </span> for <span class="rating-strong">
            <%= resource[0].title %>
          </span>
        </p>

        <% if (resource[0].comments && resource[0].comments.length> 0 && resource[0].comments[0] !== null) { %> 
          <% for (const obj of resource) { %>
            <ul class="comments-container">
              <li class="comment-container">
                <img src="<%= obj.profile_comment[0] %>" class="user-image" alt="User Image"
                  style="height: 60px; width: 55px" />
                <p>
                  <%= obj.comments[0] %>
                </p>
              </li> 
              </br>
          <% } %>
        <% } else { %>
            <li>No Comments Yet !</li>
          </ul>
        <% } %>
      </div>
    </main>
</body>
