<!-- <head>
  <title>Resource - <%= resource.title %>
  </title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script defer src="/scripts/resource-show.js"></script>
  <script defer src="/scripts/ratings.js"></script>
</head> -->

<body>
  <%- include('partials/_header.ejs') %>
      <main class="resource-page">
        <div class="left-section">
          <img src="<%= resource.thumbnail %>" alt="Resource Image"/>
          <h1 class="resource-title">
            <%= resource.title %>
          </h1>
          <p class="resource-category">
            <%= resource.category_name %>
          </p>
          <p class="resource-description">
            <%= resource.description %>
          </p>
          <div class="button-date">
            <button class="visit-button">
              <a target="_blank" href="<%= resource.url %>">Visit</a>
            </button>

          </div>
          <div class="rating-category">
            <% if (resource.avg_rating) { %>
              <% if (resource.avg_rating==='5' ) { %>
                <%- include("../public/docs/5 stars.svg") %>
              <% } else if (resource.avg_rating==='4' ) { %>
                <%- include("../public/docs/4 stars.svg") %>
              <% } else if (resource.avg_rating==='3' ) { %>
                <%- include("../public/docs/3 stars.svg") %>
              <% } else if (resource.avg_rating==='2' ) { %>
                  <%- include("../public/docs/2 stars.svg") %>
              <% } else if (resource.avg_rating==='1' ) { %>
                  <%- include("../public/docs/1 star.svg") %>
              <% }
              } else { %>
                <div class="avg-rating">No Ratings</div>
            <% } %>
          </div>
        </div>

        <div class="right-section">
          
          <form id="commentForm" action="/api/comments?resourceId=<%= id %>" method="POST">
            <label for="comment"></label>
            <textarea id="comment" name="comment" placeholder="Enter your comments here..." required></textarea>
            <button type="submit">Add Comment</button>
          </form>

          <div class="rating-like-form">
            <form id="ratingForm" class="dropdown-menu" action="/resources/<%= id %>/rating"
              method="POST">

              <select name="rating" class="rating">
                <option value="" disabled selected>Choose Rating</option>
                <option value="5" class="rating-option">5 ⭐⭐⭐⭐⭐ </option>
                <option value="4" class="rating-option">4 ⭐⭐⭐⭐</option>
                <option value="3" class="rating-option">3 ⭐⭐⭐</option>
                <option value="2" class="rating-option">2 ⭐⭐</option>
                <option value="1" class="rating-option">1 ⭐</option>
              </select>

              <button type="submit">Add Rating</button>
            </form>

            <form id="likeForm" action="/api/likes?resourceId=<%= id %>" method="POST">
            </form>
          </div>

          <p id="ratings">Your rating is <span class="rating-strong">
              <%= resource.avg_rating %>
            </span> for <span class="rating-strong">
              <%= resource.title %>
            </span>
          </p>

          <ul class="comments-container">
              <% if (resource.comment_text) { %>
                <li class="comment-container">
                  <img src="<%= resource.profile_picture %>" class="user-image" alt="User Image" style="height: 60px; width: 60px;">
                  <p>
                    <%= resource.comment_text %>
                  </p>
                </li>
              <% } else { %>
                <li>No Comments</li>
              <% } %>
          </ul>


        </div>
      </main>
</body>

