<!-- <head>
  <title>Resource - <%= resource[0].title %>
  </title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script defer src="/scripts/resource-show.js"></script>
  <script defer src="/scripts/ratings.js"></script>
</head> -->

<body>
  <%- include('partials/_header.ejs') %>
      <main class="resource-page">
        <div class="left-section">
          <img src="<%= resource[0].thumbnail_url %>" alt="Resource Image">
          <h1 class="resource-title">
            <%= resource[0].title %>
          </h1>
          <p class="resource-category">
            <%= category[0].topic %>
          </p>
          <p class="resource-description">
            <%= resource[0].description %>
          </p>
          <div class="button-date">
            <button class="visit-button">
              <a target="_blank" href="<%= resource[0].resource_url %>">Visit</a>
            </button>

            <span class="created-on">
              <span>Created: </span>
              <span id="formattedDate">
                 <%= resource[0].created_on %>
              </span>
            </span>

          </div>
          <div class="rating-category">
            <% if (avgRating && avgRating[0] && avgRating[0].avg_rating) { %>
              <div class="average-rating" data-rating="<%= avgRating[0].avg_rating %>">
                <div class="star-container">
                  <i class="fas fa-star <% if (avgRating[0].avg_rating >= 1) { %>active<% } %>"></i>
                  <i class="fas fa-star <% if (avgRating[0].avg_rating >= 2) { %>active<% } %>"></i>
                  <i class="fas fa-star <% if (avgRating[0].avg_rating >= 3) { %>active<% } %>"></i>
                  <i class="fas fa-star <% if (avgRating[0].avg_rating >= 4) { %>active<% } %>"></i>
                  <i class="fas fa-star <% if (avgRating[0].avg_rating === 5) { %>active<% } %>"></i>
                </div>
              </div>
              <% } else { %>
                <span class="average-rating">No Rating</span>
                <% } %>
          </div>
        </div>

        <div class="right-section">
          <form id="commentForm" action="/api/comments?resourceId=<%= resourceId %>" method="POST">
            <label for="comment"></label>
            <textarea id="comment" name="comment" placeholder="Enter your comments here..." required></textarea>
            <button type="submit">Add Comment</button>
          </form>

          <div class="rating-like-form">
            <form id="ratingForm" class="dropdown-menu" action="/api/ratings?resourceId=<%= resourceId %>"
              method="POST">

              <select name="rating" class="rating">
                <option value="" disabled selected>Choose Rating</option>
                <option value="5" class="rating-option">5 ⭐⭐⭐⭐⭐ </option>
                <option value="4" class="rating-option">4 ⭐⭐⭐⭐</option>
                <option value="3" class="rating-option">3 ⭐⭐⭐</option>
                <option value="2" class="rating-option">2 ⭐⭐</option>
                <option value="1" class="rating-option">1 ⭐</option>
              </select>

              <button type="submit">Add Rating</button>
            </form>

            <form id="likeForm" action="/api/likes?resourceId=<%= resourceId %>" method="POST">
              <button type="submit" class="heart-button <%= likedByCurrentUser ? 'clicked' : '' %>" id="heartButton">
                <i class="fas fa-heart"></i>
              </button>
            </form>

          </div>

          <p id="ratings">Your rating is <span class="rating-strong">
              <%= ratings[ratings.length - 1].rating %>
            </span> for <span class="rating-strong">
              <%= resource[0].title %>
            </span></p>
          <ul class="comments-container">
            <% details.forEach(detail=> { %>
              <% if (detail.comment) { %>
                <li class="comment-container">
                  <img src="<%= user.profile_image_url %>" class="user-image" alt="User Image">
                  <p>
                    <%= detail.comment %>
                  </p>
                </li>
                <p class="comment-date" data-created-at="<%= detail.created_at %>"></p>
                <% } else { %>
                  <li>No Comments</li>
                  <% } %>
                    <% }); %>
          </ul>
        </div>
      </main>
</body>

</html>
